$font-color: #343131;
$alt-font-color: #495057;
$light-font-color: #7c7373;
$contrast-color: #2F4858;

//Button
$primary-btn-bg: #80b741;
$primary-btn-color: #fff;
$secondary-btn-bg: #fff;



//Input
$input-border-color: #a6a6a6;
$input-placeholder-color: #495057;
$input-focus-color: #d2d2d2;

